[submodule "themes/wowchemy-starter-academic"]
	path = themes/wowchemy-starter-academic
	url = https://github.com/wowchemy/starter-academic.git
[submodule "themes/hugo-blox-builder"]
	path = themes/hugo-blox-builder
	url = https://github.com/HugoBlox/hugo-blox-builder
